@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin:0;
    padding:0;
}


/*navbar*/

html{
    scroll-behavior: smooth;
}

#navbar {
    background-color: #be3144;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 0 25px 0 black;
}

#navbar * {
    display: inline;
}

#navbar li {
    margin: 20px;
}

#navbar li a {
    font-size: 23px;
    color: white;
    text-decoration: none;
}
/*navbar*/

body {
    margin-top: 80px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

h1 {
    font-size: 5rem;
}


/*welcome section*/
#welcome-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#welcome-section p {
    font-size: 2rem;
    font-style: italic;
    color: #be3144;
}

.downarrow{
    position: absolute;
    bottom: 0%;
}
/*welcome section*/


/*projects section*/
#projects {
    background-color: #45567D;
    text-align: center;
    max-width: 100vw;
    padding-bottom: 5%;
    padding-top: 40px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(850px, 1fr));
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    padding-top: 50px;
}

#projects h2 {
    padding-top: 60px;
    font-size: 45px;
    text-decoration: underline;
}

#projects img {
    height: auto;
    width: 90%;
    padding-bottom: 15px;
}

.project-tile {
    padding-bottom: 50px;
}

.project-tile a {
    text-decoration: none;
    color: white;
    background-color: #303841;
    padding-bottom: 50px;
    font-size: 20px;
}
/*projects section*/


/*contacts section*/
#contacts {
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    padding-top: 15px;
    text-align: center;
    height: 90vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

#contacts h2 {
    font-size: 60px;
    font-weight: bold;
}

.social-heading p {
    font-size: 18px;
    font-style: italic;
}

#contact-section {
    display: inline-flex;
    padding-top: 50px;
}

#contacts img {
    height: 25px;
    width: auto;
}

.socials {
    padding-left: 50px;
    padding-right: 50px;
}

.socials a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    text-shadow: 2px 2px 1px #1f1f1f;
}
/*contacts section*/


/*footer section*/
.footer {
    display: flex;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    align-items: center;
    justify-content: flex-end;
    height: 5vh;
}
/*footer section*/

/*contact section bouce effect section*/
#github {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

#github:hover {
    top: -15px;
} 

#email {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

#email:hover {
    top: -15px;
} 

#facebook {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

#facebook:hover {
    top: -15px;
} 

#linkedin {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

#linkedin:hover {
    top: -15px;
} 
/*contact section bounce effect section*/